@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --top: 1vw;

    --greymain: #36393f;
    --greysecondary: #40444b;
    --greytertiary: #2c2f34;
    --greyquaternary: #2f3136;
    --greyquinary: #292b2f;
    --greysenary: #202225;

    --transparent: #ffffff00;

    --white: #ffffff;
    --black: #000000;

    --blurplemain: #949cf7;
    --blurplesecondary: #5763e9;
    --blurpletertiary: #4a5bd7;
    --blurplequaternary: #3a3fda;
    --blurplequinary: #2e33d1;

    --posfix: translate(-50%, -50%);
    --middle: 50%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    scrollbar-width: none;
    overflow-x: hidden;

    font-family: 'Inter', sans-serif;

    background-color: var(--greysenary);
    color: var(--white);
}

body::-webkit-scrollbar {
    display: none;
}

section {
    height: 100%;
    width: 100%;
}

#message { display: flex; flex-direction: column; justify-content: left; align-items: left; border-radius: 2px; padding: 10px; padding-top: 0px; top: 1vw; position: relative; height: 100%; width: 96.5%; transition: .3s; }

#message-head { margin-top: -10px; margin-left: 5px; }
#message-content { margin-top: -20px; margin-left: 5px; }
#footer { bottom: 0; position: relative; height: 110px; width: 100%; background-color: var(--greymain); }

    #containerDisplay { height: 100%; width: 100%; position: fixed; z-index: 1; }

        #columnContainerServers { height: 100%; width: 50px; position: fixed; left: 0; top: 1.3vw; background-color: var(--greysenary); }

        #containerServer { width: 96%; height: 100%; position: fixed; left: 4%; top: 1.3vw; background-color: var(--transparent); border-radius: 13px 0 0 0;}

            #containerList { width: 277px; height: 100%; background-color: var(--greyquaternary); position: fixed; border-radius: 13px 0 0 0;}

                #containerListHeader { width: 279px; height: 67px; background-color: var(--greyquaternary); position: fixed; border-radius: 13px 0 0 0; box-shadow: 0px 1px 5px  var(--greysenary); top: 0; margin-top: 1.3vw; }

                    #serverName { font-size: 20px; position: relative; top: 25%; left: 56%; transform: var(--posfix); }

            #containerListBody { width: 83%; height: 100%; position: fixed; background-color: var(--greymain); top: 1.3vw; right: 0; }

                #containerHeader { width: 83%; background-color: var(--greymain); position: fixed; top: 1.3vw; right: 0; height: 67px; box-shadow: 1px 1px 5px  var(--greysenary); }

                #coverBar { width: 20px; height: 100px; position: fixed; left: 20%; top: 20%; background-color: #5763e9; }

                #messageHeader { top: 0; width: 83%; height: 50px; position: fixed; background-color: var(--greysenary); }

                #severBody { width: 83%; height: 91.5%; right: 0; bottom: 0vw; background-color: var(--transparent); position: fixed; box-shadow: 1px 1px 5px var(--greysenary); overflow-y: scroll; padding-bottom: 200px; scrollbar-width: none; }

                #severBody::-webkit-scrollbar { display: none; }
                    
                    #messageBody { width: 83%; height: 30px; position: fixed; bottom: 0; right: 0; background-color: var(--blurplesecondary); opacity: 50%; overflow-y: scroll; padding-bottom: 200px; scrollbar-width: none; }

                        #messagesHeader { top: 0; width: 83%; height: 200px; position: relative; }

                        #messageFooter { bottom: 0; position: fixed; height: 110px; width: 100%; background-color: var(--greymain); }

                        #messagesFooter { bottom: 0; position: relative; height: 110px; width: 100%; background-color: var(--greymain); }

                    #messagesContainer { bottom: 1.5vw; right:20px; width: 81%; height: 50px; background-color: var(--greysecondary); position: fixed; border-radius: 8px; }

                        #inputContainer { width: 67%; height: 30px; position: fixed; background-color: var(--transparent); opacity: 50%; margin-top: 10px; margin-left: 70px; border-radius: 8px; }

                            #messageInput { width: inherit; height: inherit; background-color: var(--greysecondary); position: fixed; border-radius: 8px; outline: none; border: none; resize: none; overflow: hidden; font-size: 20px; padding: 5px;}

                        #buttonContainer { height: inherit; width: 50px; right: 20px; position: fixed; background-color: var(--transparent) }

                            #messageSend { position: fixed; z-index: 2; right: 37px; bottom: 38px; background-color: var(--transparent); width: 30px; height: 30px; }

                                #messageButton { position: fixed; z-index: 3; bottom: 13px; right: 10px; width: AUTO; height: auto; transition: .3s; offset-position: 0; background-color: var(--transparent); letter-spacing: 2px; opacity: 20%; } 
                                    
                                    #sendVector { transition: .3s; position: absolute; top: var(--middle); left: var(--middle); }

/*#949cf7*/

#messageInput:focus { outline: none; }
#message:hover { background-color: var(--greytertiary); }
